body, html {
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #f8f9fa;
    scroll-behavior: smooth;
}

.navbar {
    background-color: #064380;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1000;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    transition: background-color 0.3s ease;
}

.navbar-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.nav-logo img {
    height: 60px;
}

.nav-links, .nav-contact {
    display: flex;
    align-items: center;
}

.nav-links a, .nav-contact a {
    color: #ffffff;
    padding: 10px 15px;
    margin-right: 15px;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: bold;
    transition: color 0.3s ease;
}

.nav-links a:hover, .nav-contact a:hover {
    color: #f0b909;
}

.nav-contact span {
    color: #ffffff;
    margin: 0 10px;
    font-size: 24px;
}

.menu-toggle {
    display: none;
    flex-direction: column;
    cursor: pointer;
    margin-right: 7.5%;
}

.menu-toggle .bar {
    width: 25px;
    height: 3px;
    background-color: #ffffff;
    margin: 4px 0;
    transition: all 0.3s ease;
}

.menu-toggle.open .bar:nth-child(1) {
    transform: translateY(7px) rotate(45deg);
}

.menu-toggle.open .bar:nth-child(2) {
    opacity: 0;
}

.menu-toggle.open .bar:nth-child(3) {
    transform: translateY(-7px) rotate(-45deg);
}

.mobile-nav {
    display: none;
    position: fixed;
    top: 0;
    right: 0;
    width: 250px;
    height: 100%;
    background-color: #064380;
    flex-direction: column;
    align-items: center;
    padding-top: 60px;
    transition: transform 0.3s ease-in-out;
    transform: translateX(100%);
}

.mobile-nav.open {
    display: flex;
    transform: translateX(0);
}

.mobile-nav a {
    color: #ffffff;
    padding: 15px 20px;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: bold;
    width: 100%;
    text-align: center;
    transition: background-color 0.3s ease;
}

.mobile-nav a:hover {
    background-color: #f0b909;
}

/* Ajuste para que la barra de navegación se vea bien en dispositivos móviles */
@media (max-width: 768px) {
    .nav-links, .nav-contact {
        display: none;
    }

    .menu-toggle {
        display: flex;
    }
}

.contenido img {
    width: 100%;
    height: auto;
    animation: fadeIn 2s ease-in-out;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.services {
    background-color: #ffffff;
    padding: 60px 10px;
    text-align: center;
    animation: slideInUp 2s ease-in-out;
}

@keyframes slideInUp {
    from {
        transform: translateY(50px);
        opacity: 0;
    }
    to {
        transform: translateY(0);
        opacity: 1;
    }
}

.services h2 {
    color: #064380;
    font-size: 2.5em;
    margin-bottom: 50px;
}

.services-grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 30px;
}

.service-card {
    background: #ffffff;
    border-radius: 20px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1), 0 6px 20px rgba(0,0,0,0.1);
    width: calc(33.333% - 40px);
    padding: 30px;
    box-sizing: border-box;
    transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}

.service-card:hover {
    transform: translateY(-5px);
    box-shadow: 0 10px 20px rgba(0,0,0,0.2), 0 8px 20px rgba(0,0,0,0.15);
}

.service-card h3 {
    color: #064380;
    font-size: 1.8em;
}

.service-card p {
    color: #4a4a4a;
    font-size: 1em;
    line-height: 1.7;
    text-align: left;
}

/* Ajustes responsivos para diferentes tamaños de pantalla */
@media (max-width: 992px) {
    .service-card {
        width: calc(50% - 40px);
    }
}

@media (max-width: 576px) {
    .service-card {
        width: 100%;
        margin-bottom: 30px;
    }
}

.google-maps {
    text-align: center;
    padding: 40px 0;
    background-color: #ecf0f1;
    animation: slideInRight 2s ease-in-out;
}

@keyframes slideInRight {
    from {
        transform: translateX(50px);
        opacity: 0;
    }
    to {
        transform: translateX(0);
        opacity: 1;
    }
}

.google-maps h2 {
    color: #064380;
    font-size: 2.5em;
    margin-bottom: 20px;
}

.google-maps iframe {
    border-radius: 8px;
    width: 65%;
    height: 450px;
    border: none;
    margin: 0 auto;
    display: block;
}

#contacto {
    background-color: #ffffff;
    padding: 40px;
    max-width: 800px;
    margin: 60px auto;
    border-radius: 8px;
    box-shadow: 0 8px 16px rgba(0,0,0,0.1);
    animation: slideInLeft 2s ease-in-out;
}

@keyframes slideInLeft {
    from {
        transform: translateX(-50px);
        opacity: 0;
    }
    to {
        transform: translateX(0);
        opacity: 1;
    }
}

#contacto h2 {
    color: #064380;
    margin-bottom: 20px;
    font-size: 2em;
}

#contacto form {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 20px;
    padding: 20px;
}

#contacto form input,
#contacto form select,
#contacto form textarea {
    width: 100%;
    padding: 12px;
    margin-bottom: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 1em;
}

#contacto form textarea {
    height: 120px;
    grid-column: 1 / -1;
}

#contacto form button {
    width: auto;
    padding: 10px 30px;
    background-color: #064380;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
    grid-column: 1 / -1;
    margin: auto;
}

#contacto form button:hover {
    background-color: #04375c;
}

/* Ajustes responsivos para formularios en dispositivos más pequeños */
@media (max-width: 768px) {
    #contacto form {
        grid-template-columns: 1fr;
    }
}
